/* Other styles */
body{
    margin: 0px;
    padding-top: 10vh;
    background-color: rgb(229, 228, 228);
    width: 100%;
    height: 100%;
}

/*Header styles*/

.main_header{
    display: flex;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(233, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
}

.header{
     width: 100%;
    height: 10vh;
    background-color: rgb(110, 32, 32);
    display: flex;
    align-items: center;
    gap:10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

.nav_buttons {
  display: flex;
  flex-direction: row;  
  gap: 20px;           
  align-items: center;  
}


.btn{
    display: flex;
    background-color:transparent;
    color: rgb(233, 233, 233);
    cursor:pointer;
    border:none;
    margin: 4px 2px;
    text-decoration: none;
    gap: 10px; 
    font-family: system system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
}

.btn:hover{
    background-color:rgb(233, 233, 233);
    transition: 0.4s ease;
    color:rgb(110, 32, 32);
    border-radius: 5px;
}

.main_btn_header{
    background-color: transparent;
    text-decoration: none;
    border:none;
    font-size: 2rem;
    color:white;
}

.header_btn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
}

.input{
    padding: 10px;
    outline: none;
    border: 1.5px;
    border-style: solid;
    border-color: crimson;
    border-radius: 10px;
}



.notif_btn{
    background-color: transparent;
    border:none;
    position:relative;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(103%) contrast(103%);
    cursor: pointer;
}

.avatar_btn{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
}

.avatar_btn:hover{
    width: 30px;
    height: 30px;
    background-color: white;
    color:rgb(110, 32, 32);
    border-radius: 50%;
    transition: 0.4s ease;
}

/*Main content styles*/

.content_main{
    display: flex;
    width: 25vw;
    height: 35vh;
    margin: 20px;
    margin-top: 30px;
}

.content{
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    width: 25vw;
    height: 35vh;
    background-color: rgb(110, 32, 32);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px;
    color: white;
    text-align: center;
    padding: 15px;
    gap: 15px;
}

.content_btn{
    display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(45deg, teal, #ADEBB3);
  border: none;
  font-weight: bold;
  font-style: oblique;
  color: white;
  transition: 0.3s ease;

}

.content_btn:hover{
    background-image: linear-gradient(45deg, #ADEBB3, teal);
}

.bottom_content{
   color: white;
  font-size: 1rem;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: oblique;
}

.content_second_main{
    display: flex;
    margin: 20px;
    width: 25vw;
    height: 35vh;
}

.content_second{
  flex-direction: column;
  display: flex;     
  align-items: center;      
  justify-content: center;  
  width: 25vw;
  height: 35vh;
  background-color: rgb(110, 32, 32);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-bars{
    font-size:25px;
}

.search_btn{
      padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
}

.fa-magnifying-glass{
    font-size:20px;
    background-color:transparent;
    cursor: pointer;
}

.btn_fabell{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin: 10px;
}

.fa-bell{
    font-size:20px;
    background-color: transparent;
    cursor:pointer;
}

.header_item_menu{
    display: none;
    background-color: rgb(110, 32, 32);
    
}

.ad_image{
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  width:80%
}

/*Quiz page things*/
.quiz_btn{
    position: relative;      
    width: 40vw;
    height: 30vh;
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    background-color: rgb(110, 32, 32);
    margin-top: 40px;
    margin: 20px;
    border: none;
}

.quiz_btn:hover{
    cursor: pointer;
    border: 3px;
}


.quiz_btn span{
    display:block;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.quizes_btn_games{
    margin: 10px;
    font-size: 1rem;
    background-color: rgb(169, 169, 169);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.quizes_btn_games:hover{
    background-color: #68bc70;
    transition:0.3s ease;
     box-shadow: rgba(5, 125, 67, 0.5) 0 1px 30px;
    transition-duration: .1s; 
}

.quizes_btn_memes{
    margin: 0px;
    font-size: 1rem;
    background-color: rgb(169, 169, 169);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.quizes_btn_memes:hover{
    background-color: darkred;
    transition:0.3s ease; 
    box-shadow: rgba(255, 4, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.quizes_btn_movies{
    margin: 0px;
    font-size: 1rem;
    background-color: rgb(169, 169, 169);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.quizes_btn_movies:hover{
    background-color: rgb(39, 78, 150);
    box-shadow: rgba(20, 129, 253, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.quizes_btn_geo{
    margin: 0px;
    font-size: 1rem;
    background-color: rgb(169, 169, 169);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.quizes_btn_geo:hover{
    background-color: rgb(123, 0, 232);
    box-shadow: rgba(156, 36, 254, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.quizes_btn_hist{
    margin: 0px;
    font-size: 1rem;
    background-color: rgb(169, 169, 169);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.quizes_btn_hist:hover{
    background-color: rgb(219, 208, 0);
    box-shadow: rgba(255, 251, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

/*Official Video game quiz :D*/

.quiz_body{
    margin: 0px;
    padding: 0px;
}

.quiz_main{
    display: flex;
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
}

.question_header{
    display:flex;
    background-color:rgb(110, 32, 32);
    width: 100%;
    height: 13vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.quest_btn_1{
    display: flex;
    background-color: rgb(39, 94, 164);
    color:white;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    border:none;
    padding: 40px;
    border-radius:5px;
    margin: 20px;
}

.quest_btn_1:hover{
    cursor: pointer;
    background-color: rgb(58, 95, 215);
    transition: 0.3s ease;
}

.quest_btn_2{
     display: flex;
    background-color: rgb(203, 30, 39);
    color:white;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    border:none;
    padding: 40px;
    border-radius:5px;
    margin: 20px;
}

.quest_btn_2:hover{
    cursor: pointer;
    background-color: rgb(164, 34, 43);
    transition: 0.3s ease;
}

.quest_btn_3{
     display: flex;
    background-color: rgb(0, 116, 4);
    color:white;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    border:none;
    padding: 40px;
    border-radius:5px;
    margin: 20px;
}

.quest_btn_3:hover{
    cursor: pointer;
    background-color: rgb(17, 166, 57);
    transition: 0.3s ease;
}

.quest_btn_4{
     display: flex;
    background-color: rgb(237, 162, 0);
    color:white;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    border:none;
    padding: 40px;
    border-radius:5px;
    margin: 20px;
}

.quest_btn_4:hover{
    cursor: pointer;
    background-color: rgb(187, 153, 0);
    transition: 0.3s ease;
}

.first_img{
    display:flex;
    align-content:center;   
}

.return_btn{
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 40px;
    padding: 30px;
    border: none;
    padding: 20px;
    cursor: pointer;
}

